.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.d/
.idea/sonarlint
gradle/wrapper/*.jar
!/test.d/Makefile
!/test.d/ref_convert_chralias.py
*.sqlite3
*db/
exports.mk
.idea/google-java-format.xml
.idea/uiDesigner.xml
*.log
*.svg
*.png
*.ico
*.jpg
*.jpeg
*.gif
*.webp
*.zip
*.tar
*.gz
*.bz2
*.7z
*.rar
*.tgz
*.tbz2
*.txz
*.lz
*.lzma
*.lzo
*.xz
*.zst
*.zstd
*.jar
*.war
*.ear
*.sar
*.par
*.apk
*.aar
*.jpi

.idea/workspace.xml
*.gpg
*.asc
*.pgp
.attach_pid*
*.graphml
*.dot
*.gexf
*.gryo
*.kryo
*.classpath
runtime_wrapper.sh
/bashrc
/.fleet
*.pdf
*.csv
*.tsv
*.gtf
*.sizes
*.bak
*.txt
*.pairs
*.hic
*.px2
*.cool
*.bam
*.bai
/tmp_*
.idea/deployment.xml
.idea/.name
